on fs
    # Load PVR module
    insmod /system/lib/modules/omaplfb.ko
    insmod /system/lib/modules/pvrsrvkm.ko

service pvrsrvinit /system/bin/pvrsrvinit
    class core
    user root
    group root
    oneshot
